# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env

# Build
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Coverage directory used by tools like istanbul
coverage/

# Nodemon ignore
.nodemon.json
